# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/

# Virtual Environment
.env
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# Docker
Dockerfile
.dockerignore

# OS specific
.DS_Store
Thumbs.db